<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<dict>
		<key>photosPerRow</key>
		<integer>6</integer>
		<key>relativeGimbalYaw</key>
		<true/>
		<key>switchMode</key>
		<string>F</string>
	</dict>
	<key>photosPerRow</key>
	<dict>
		<key>DJIAircraftModelNameMavicPro</key>
		<integer>7</integer>
	</dict>
	<key>relativeGimbalYaw</key>
	<dict>
        <key>DJIHandheldModelNameOsmo</key>
        <false/>
        <key>DJIHandheldModelNameOsmoMobile</key>
        <false/>
        <key>DJIHandheldModelNameOsmoPlus</key>
        <false/>
        <key>DJIHandheldModelNameOsmoPro</key>
        <false/>
        <key>DJIHandheldModelNameOsmoRAW</key>
        <false/>
		<key>DJIAircraftModelNamePhantom34K</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Advanced</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Standard</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Professional</key>
		<false/>
		<key>DJIAircraftModelNameA3</key>
		<false/>
	</dict>
	<key>switchMode</key>
	<dict>
		<key>DJIAircraftModelNameMavicPro</key>
		<string>P</string>
		<key>DJIAircraftModelNamePhantom4</key>
		<string>P</string>
		<key>DJIAircraftModelNamePhantom4Pro</key>
		<string>P</string>
	</dict>
</dict>
</plist>
