<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaults</key>
	<dict>
		<key>allowsAboveHorizon</key>
		<true/>
		<key>photosPerRow</key>
		<integer>6</integer>
		<key>relativeGimbalYaw</key>
		<true/>
		<key>switchPosition</key>
		<dict>
			<key>name</key>
			<string>F</string>
			<key>position</key>
			<integer>1</integer>
		</dict>
	</dict>
    <key>allowsAboveHorizon</key>
    <dict>
        <key>DJIAircraftModelNameMavicPro</key>
        <false/>
    </dict>
	<key>photosPerRow</key>
	<dict>
		<key>DJIAircraftModelNameMavicPro</key>
		<integer>7</integer>
	</dict>
	<key>relativeGimbalYaw</key>
	<dict>
		<key>DJIHandheldModelNameOsmo</key>
		<false/>
		<key>DJIHandheldModelNameOsmoMobile</key>
		<false/>
		<key>DJIHandheldModelNameOsmoPlus</key>
		<false/>
		<key>DJIHandheldModelNameOsmoPro</key>
		<false/>
		<key>DJIHandheldModelNameOsmoRAW</key>
		<false/>
		<key>DJIAircraftModelNamePhantom34K</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Advanced</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Standard</key>
		<false/>
		<key>DJIAircraftModelNamePhantom3Professional</key>
		<false/>
		<key>DJIAircraftModelNameA3</key>
		<false/>
	</dict>
	<key>switchPosition</key>
	<dict>
		<key>DJIAircraftModelNameMavicPro</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>2</integer>
		</dict>
		<key>DJIAircraftModelNamePhantom4</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>3</integer>
		</dict>
		<key>DJIAircraftModelNamePhantom4Pro</key>
		<dict>
			<key>name</key>
			<string>P</string>
			<key>position</key>
			<integer>3</integer>
		</dict>
	</dict>
</dict>
</plist>
